@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}


.custom-nav{
    background: linear-gradient(to right, #65258a , #e80566);
    height: auto;
}

.cmt-toggle:focus{
    outline: 0;
}

.toggle-item{
    padding: 0 4%;
}

.custom-nav-item{
    font-size: 1.em !important;
    font-weight: 500;
}



#main {
    background: linear-gradient(to right, #65258a , #e80566);
    width: 100%;
    padding: 5% 10%;
}


#career-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.career-head {
    text-align: center;
    font-size: 4.4em;
    padding-bottom: 0.5em;
    color: white !important;
}

.career-desc {
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;
    color: white;
}


#career-cards {
    width: 100%;
    padding-top: 6em;
    display: flex !important;
    flex-direction: column !important;
    gap: 2.5em;
}

.card {
    background-position: right;
    width: 100%;
    border: 1px solid black;
    padding: 2% 3%;
    box-shadow: 15px 15px #000;
}

.card-title {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 2em;
}

.card-title a {
    font-size: 0.5em;
    color: black;
}

.card-desc {
    padding-bottom: 0.8em;
    font-weight: bold;
}

.card-details {
    display: flex;
    gap: 2%;
}

.card-btn {
    border: 1px solid black;
    border-radius: 50px;
    padding: 0.4em 0.8em;
    font-weight: bold;
}


@media screen and (max-width: 600px) {

    #main{
        padding: 8%;
    }

    .career-head {
        font-size: 3em;
    }

    .career-desc {
        font-size: 1em;
    }

    #career-cards{
        padding-top: 4em !important;
    }

    .card{
        padding: 5%;
    }
}